In [2]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv")
df

,My_header,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
1,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
2,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
3,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
4,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
5,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
6,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
7,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
8,2004,ME,Maine,NVSS,na,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
9,2004,TX,Texas,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
10,2004,UT,Utah,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [3]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",skiprows=1)
df

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
4,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
5,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
6,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
7,2004,ME,Maine,NVSS,na,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
8,2004,TX,Texas,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
9,2004,UT,Utah,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [4]:
df[4:7]

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
4,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
5,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
6,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"

In [10]:
df[:4]

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"

In [6]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv")
df

,My_header,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
1,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
2,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
3,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
4,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
5,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
6,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
7,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
8,2004,ME,Maine,NVSS,na,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
9,2004,TX,Texas,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
10,2004,UT,Utah,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [7]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,My_header,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
2,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
3,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
4,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
5,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
6,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
7,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
8,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
9,2004,ME,Maine,NVSS,na,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
10,2004,TX,Texas,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
11,2004,UT,Utah,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [9]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",header=1)
df

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
4,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
5,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
6,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
7,2004,ME,Maine,NVSS,na,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
8,2004,TX,Texas,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
9,2004,UT,Utah,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [ ]:
#when we have missing cloumn names,use
#df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",names={'ab','bc','cd'....})

In [11]:
#nrows reads first n rows excluding the header
import pandas as pd
df2=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",nrows=7)
df2

,My_header,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
1,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
2,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
3,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
4,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
5,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
6,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"

In [12]:
df

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2000,IN,Indiana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2000,US,United States,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,2001,GA,Georgia,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,2001,NC,North Carolina,NVSS,None,NaN,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
4,2002,MT,Montana,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
5,2003,OH,Ohio,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
6,2004,AZ,Arizona,NVSS,None,None,Not Available,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
7,2004,ME,Maine,NVSS,na,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
8,2004,TX,Texas,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
9,2004,UT,Utah,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [13]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",na_values={'None','na','Not Available'})
df
#to make some values to NaN only for particular columns,use a dictionary to specify column names with the values 
#to convert to NaN

,My_header,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
1,2000,IN,Indiana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
2,2000,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
3,2001,GA,Georgia,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
4,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
5,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
6,2003,OH,Ohio,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
7,2004,AZ,Arizona,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
8,2004,ME,Maine,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
9,2004,TX,Texas,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
10,2004,UT,Utah,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [15]:
import pandas as pd
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",header=1,na_values={'None','na','Not Available'})
df

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2000,IN,Indiana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2000,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,2001,GA,Georgia,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
4,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
5,2003,OH,Ohio,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
6,2004,AZ,Arizona,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
7,2004,ME,Maine,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
8,2004,TX,Texas,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
9,2004,UT,Utah,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [20]:
#creates a new csv file in mentioned directory with data of df requested,
#index=false removes the serial numbers of rows copied from df,try difference
df[2:6].to_csv("/Users/harshit_mac/Desktop/data science/newdata.csv",index=False)

In [23]:
#to skip writing the header to new file
df[2:6].to_csv("/Users/harshit_mac/Desktop/data science/newdata.csv",header=False)

In [25]:
import pandas as pd
df=pd.read_excel("/Users/harshit_mac/Desktop/data science/newdata.xlsx",header=1,na_values={'None','na','Not Available'})
df

,2,2001,GA,Georgia,NVSS,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Cardiovascular Diseases,...,Age,75,C1,T1,NV001,Crude.1,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
0,3,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
1,4,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
2,5,2003,OH,Ohio,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"

In [4]:
#use of converters in changing the values
import pandas as pd 
df=pd.read_csv("/Users/harshit_mac/Desktop/data science/data_exp.csv",na_values={'None','na','Not Available'})
df

,My_header,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
1,2000,IN,Indiana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
2,2000,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
3,2001,GA,Georgia,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,75+,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
4,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
5,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"
6,2003,OH,Ohio,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,39,"(40.06021014100048, -82.40426005599966)"
7,2004,AZ,Arizona,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,35+,C1,T1,NV001,Crude,BOC03,AGE07,4,"(34.865970280000454, -111.76381127699972)"
8,2004,ME,Maine,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Non-Hispanic White,C1,T1,NV001,Crude,BOC04,RAC01,23,"(45.254228894000505, -68.98503133599962)"
9,2004,TX,Texas,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,48,"(31.827240407000488, -99.42677020599967)"
10,2004,UT,Utah,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,...,Race,Other,C1,T1,NV001,AgeStdz,BOC04,RAC07,49,"(39.360700171000474, -111.58713063499971)"

In [30]:
df[0:6].to_csv("/Users/harshit_mac/Desktop/data science/newdata1.csv",header=False)

In [32]:
import pandas as pd
df=pd.read_excel("/Users/harshit_mac/Desktop/data science/newdata1excel.xlsx",header=1,na_values={'None','na','Not Available'})
df

,0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,1,2000,IN,Indiana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2,2000,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Age,35,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,3,2001,GA,Georgia,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Age,75,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,4,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
4,5,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"

In [33]:
df.to_excel("/Users/harshit_mac/Desktop/data science/newdata1excelnew.xlsx")

In [ ]:
#using converters to convert messy data into something useful

In [34]:
#this writes back the dataframe into a new csv file
df.to_csv("/Users/harshit_mac/Desktop/data science/newdata5.csv")

In [55]:
df[df.columns[1:6]]

   Year LocationAbbr    LocationDesc DataSource  PriorityArea1
0  2000           IN         Indiana       NVSS            NaN
1  2000           US   United States       NVSS            NaN
2  2001           GA         Georgia       NVSS            NaN
3  2001           NC  North Carolina       NVSS            NaN
4  2002           MT         Montana       NVSS            NaN

In [56]:
df

,0,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,1,2000,IN,Indiana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Age,45-64,C1,T1,NV001,Crude,BOC03,AGE05,18,"(39.766910452000445, -86.14996019399968)"
1,2,2000,US,United States,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Age,35,C1,T1,NV001,Crude,BOC03,AGE07,59,NaN
2,3,2001,GA,Georgia,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Age,75,C1,T1,NV001,Crude,BOC03,AGE08,13,"(32.83968109300048, -83.62758034599966)"
3,4,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Race,Non-Hispanic Black,C1,T1,NV001,Crude,BOC04,RAC02,37,"(35.466220975000454, -79.15925046299964)"
4,5,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,...,Gender,Female,C1,T1,NV001,Crude,BOC02,GEN02,30,"(47.06652897200047, -109.42442064499971)"

In [62]:
df=df[df.columns[1:9]]

In [63]:
df

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4
0,2000,IN,Indiana,NVSS,NaN,NaN,NaN,NaN
1,2000,US,United States,NVSS,NaN,NaN,NaN,NaN
2,2001,GA,Georgia,NVSS,NaN,NaN,NaN,NaN
3,2001,NC,North Carolina,NVSS,NaN,NaN,NaN,NaN
4,2002,MT,Montana,NVSS,NaN,NaN,NaN,NaN

In [79]:
df=df[df.columns.difference(['DataSource','PriorityArea2','PriorityArea4'])]

In [80]:
df

  LocationAbbr    LocationDesc  PriorityArea1  PriorityArea3  Year
0           IN         Indiana            NaN            NaN  2000
1           US   United States            NaN            NaN  2000
2           GA         Georgia            NaN            NaN  2001
3           NC  North Carolina            NaN            NaN  2001
4           MT         Montana            NaN            NaN  2002

In [84]:
#for writing at certain offset in the excel or csv file
#see this screenshot-------/Users/harshit_mac/Desktop/Screenshot 2020-05-18 at 03.06.14.png
df.to_excel("/Users/harshit_mac/Desktop/data science/new6.xlsx",sheet_name="xyz",startrow=3,startcol=5,index=False)

In [14]:
#writing two dataframes into different sheets of same excel file
stocks_df=pd.DataFrame(
{
    'type':['smes','big','giant'],
    'date':['1/2/2019','24/9/2019','19/4/2020'],
    'value':[10,20,30]
})
medecine_df=pd.DataFrame(
{
    'name':['citrazen','paracetamol','digene'],
    'purpose':['headache','fever','stomach issues']
})

In [15]:
#continued
with pd.ExcelWriter('/Users/harshit_mac/Desktop/data science/new7.xlsx') as Writer:
    stocks_df.to_excel(Writer,sheet_name='stock_info',index=False)
    medecine_df.to_excel(Writer,sheet_name='medecine_info',index=False)

In [107]:
df=pd.read_excel('/Users/harshit_mac/Desktop/data science/new7.xlsx')
df

    type       date  value
0   smes   1/2/2019     10
1    big  24/9/2019     20
2  giant  19/4/2020     30

In [108]:
df1=pd.read_excel('/Users/harshit_mac/Desktop/data science/new7.xlsx',sheet_name='medecine_info',index=False)
df1

          name         purpose
0     citrazen        headache
1  paracetamol           fever
2       digene  stomach issues